
{{>cabecera}}
{{titulo}}

<body>
    <div id= "contenido"> 
<section>
    <div id= "texto">
        <article>
            <hgroup>
                <h1>
                    Bienvenido a la página de cursos 
                </h1>
            </hgroup>
            <p>
               Estas por ingresar como cualquier usuario (coordinador, aspirante o interesado) 
            </p>
        </article>
    </div>
</section>
    </div>
</body>
{{>pie}}
</html>
