
{{>cabecera}}


<body>

    <main>
    <section class="services contenedor" id="servicio">
    <div class="contenedor servicio">
        <img src="img/img1.svg" alt="">
    </div>
    </section>

</main>
</body>

{{>pie}}
</html>

