{{>cabecera}}



<table class="table table-dark table-striped">
    <tr> 
    <th> nombre </th> 
    <th> descripcion </th> 
    <th> valor </th> 
    <th> accion </th> 
</tr>
{{#each listarc}} 
<tr> 
  <td>{{this.nombre}}</td>
  <td>{{this.descripcion}}</td>
  <td>{{this.valor}}</td>
   <td> 
        <a class="btn btn-primary" href="/detallecurso/{{this.id}}">ver detalles</a>
 
      </td>
 

</tr>
{{/each}}
</table>

{{>pie}}